<main class="container pt-5" id="edit">

  {{#with order}}
     <nav aria-label="breadcrumb ml-auto">
  <ol class="breadcrumb ml-2">
        <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
        <li class="breadcrumb-item"><a href="/admin/order">View Orders</a></li>
        <li class="breadcrumb-item"  aria-current="page"><a href="/admin/order/edit/{{_id}}">Edit</a></li>
      </ol>
      </nav>
  <h1 class="shadow">Edit {{username}}</h1>
  <form id="edit-order-form" method="POST" class="form needs-validation" action="/api/admin/order/edit/{{_id}}" novalidate>
   <input id="_id" name="_id" class="form-control" type="text" value="{{_id}}" required>
    <div class="form-group">
      <label for="_id">Order Id</label>
      <input id="_id" name="_id" class="form-control" type="text" value="{{_id}}" required disabled>
      <div class="invalid-feedback">
        Please enter an order id.
      </div>
    </div>
    <div class="form-group">
      <label for="firstName" class="mt-2">First Name</label>
      <input id="firstName" name="firstName" class="form-control" type="text" value="{{firstName}}" required>
      <div class="invalid-feedback">
        Please enter a first name.
      </div>
    </div>
    <div class="form-group">
      <label for="lastName" class="mt-2">Last Name</label>
      <input id="lastName" name="lastName" class="form-control" type="text" value="{{lastName}}" required>
      <div class="invalid-feedback">
        Please enter a last name.
      </div>
    </div>
    <div class="form-group">
      <label for="email" class="mt-2">Email</label>
      <input id="email" name="email" class="form-control" type="text" value="{{email}}" required>
      <div class="invalid-feedback">
        Please enter an email.
      </div>
    </div>
    <div class="form-group">
      <label for="phone" class="mt-2">Phone</label>
      <input id="phone" name="phone" class="form-control" type="text" value="{{phone}}" required>
      <div class="invalid-feedback">
        Please enter a phone number.
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary shadow"><i class="far fa-save"></i>&nbsp; Save</button>
    </div>

  </form>

  {{/with}}
  <div class="form-group text-center">
    <output class="text-danger">{{error}}</output>
  </div>
</main>