<head>
  <meta name="description" content="Delete account from Mercedes Benz Online Dealership.">
  <meta name="keywords" content="delete,account">
</head>
<main class="container py-5">

    {{#with account}}
         <nav aria-label="breadcrumb ml-auto">
  <ol class="breadcrumb ml-2  smallerText">
        <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
        <li class="breadcrumb-item"><a href="/admin/account">View Accounts</a></li>
        <li class="breadcrumb-item"  aria-current="page"><a href="/admin/account/delete/{{_id}}">Delete</a></li>
      </ol>
      </nav>
        <div class="row mb-4">
    <h2 class="h1 mb-4 mr-auto ml-2 shadow h2Text">Delete {{username}} Page</h2>
  </div>
  <div class="row d-flex justify-content-center align-self-center mx-3">
    <div class="card col-12" style="max-width: 26rem;">
      <div class="card-body text-center">
        <h5 class="card-title h2 shadow">{{username}}</h5>
        <p class="card-text shadow h5">{{firstName}} &nbsp; {{lastName}}</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-center h5 shadow">{{phone}} / {{email}}</li>
        </ul>
        
      </div>


      <button type="button" class="btn btn-danger mt-3 mb-3 shadow" data-toggle="modal" data-target="#deleteModal">
        <i class="fas fa-trash-alt"></i> &nbsp; Delete Account
      </button>
    </div>
    <div class="modal fade" id="deleteModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <h4 class="modal-title">Confirm Delete</h4>
            <button type="button" class="close shadow" data-dismiss="modal">&times;</button>
          </div>

          <div class="modal-body text-center shadow">
            Do you want to delete {{username}}?
          </div>

          <div class="modal-footer">
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 m-auto d-flex justify-content-center">
              <form id="delete-account-form" method="POST" action="/api/admin/account/delete/{{_id}}">
                <button type="submit" class="btn btn-danger shadow"><i class="fas fa-trash-alt"></i> &nbsp; Delete</button>
              </form>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 m-auto d-flex justify-content-center">
              <button type="button" class="btn btn-success shadow" data-dismiss="modal"><i class="fas fa-ban"></i> &nbsp;
                Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/with}}
</main>